# Scraping `zangia.mn`
* You need to import `pandas`, `requests` and `BeautifulSoup`

In [33]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import statistics

### Exercise 1: Scrape `zangia.mn` page#1
* Make a dataframe using `Мэдээлэл технологи, Харилцаа холбоо` category `https://www.zangia.mn/job/list/pg.1/b.4`.
* Get job listings from page 1.
  * DataFrame should include columns: `job_title`, `salary`. 
  * Remove the row if `salary` text contains `Тохиролцоно`. 
    * *Hint*: Loop over the df and use `in` and `drop` methods.
  * Take salary as 5000000 if `salary` text contains `5,000,000 -ааc дээш`
  * Import statistics library
  * Get the median salary using statistics library if there is a salary range. Example: 2,500,000-3,500,000 should be 3000000. 
    * Use string replace method to remove comma from numbers.
    * *Hint*: Use string split method to get the numbers. 
  * Make a histogram plot using the `salary`.

In [3]:
# Your code
response = requests.get("https://www.zangia.mn/job/list/pg.1/b.4")
soup = BeautifulSoup(response.content)

In [5]:
ads = soup.find_all("div", {"class": "ad"})

In [9]:
ads[0].find('b').get_text()

'ТӨЛӨВЛӨЛТИЙН ИНЖЕНЕР'

In [13]:
job_titles = []
for ad in ads:
    job_title = ad.find('b').get_text()
    # print(job_title)
    job_titles.append(job_title)

In [17]:
ads[0].find('span', {"class": "fsal"}).get_text()

'2,500,000 - 3,000,000'

In [18]:
job_salaries = []
for ad in ads:
    job_salary = ad.find('span', {"class": "fsal"}).get_text()
    job_salaries.append(job_salary)

In [19]:
df = pd.DataFrame({"job_titles": job_titles, "job_salary": job_salaries})

In [21]:
df.head()

                          job_titles                         job_salary
0               ТӨЛӨВЛӨЛТИЙН ИНЖЕНЕР              2,500,000 - 3,000,000
1                  Худалдааны зөвлөх              1,500,000 - 1,800,000
2                      Оффис менежер  1,500,000 - 1,800,000 Тохиролцоно
3  ЦАГИЙН АЖИЛ /ТЭСО ИНВЕСТМЭНТ ХХК/                  500,000 - 600,000
4       МЭДЭЭЛЭЛ ТЕХНОЛОГИЙН АЖИЛТАН              1,500,000 - 1,800,000

In [31]:
for i in range(len(df)):
    if "Тохиролцоно" in df['job_salary'][i]:
        df.drop(i, inplace=True)
        # df = df.drop(i)

    if "5,000,000 -ааc дээш" in df['job_salary'][i]:
        df['job_salary'][i] = 5_000_000

In [32]:
df = df.reset_index(drop=True)

In [44]:
int(df['job_salary'][0].split('-')[0].replace(',', ''))

2500000

In [46]:
for i in range(len(df)):
    lower_sal = int(df['job_salary'][i].split('-')[0].replace(',', ''))
    upper_sal = int(df['job_salary'][i].split('-')[1].replace(',', ''))

    median_sal = statistics.median([lower_sal, upper_sal])
    # print(median_sal)
    df['job_salary'][i] = median_sal

In [47]:
df

                                       job_titles job_salary
0                            ТӨЛӨВЛӨЛТИЙН ИНЖЕНЕР  2750000.0
1                               Худалдааны зөвлөх  1650000.0
2               ЦАГИЙН АЖИЛ /ТЭСО ИНВЕСТМЭНТ ХХК/   550000.0
3                    МЭДЭЭЛЭЛ ТЕХНОЛОГИЙН АЖИЛТАН  1650000.0
4                               IT System Analyst  2750000.0
5                      Холбоо дохиололийн инженер  1650000.0
6              Мэдээллийн аюулгүй байдлын шинжээч  3500000.0
7                                 Төслийн менежер  1650000.0
8                                 Төслийн менежер  1650000.0
9                     ГРАФИК ДИЗАЙНЕР АЖИЛД АВНА.  2750000.0
10                                       Оператор  1350000.0
11                              Сүлжээний инженер  2750000.0
12                             ПРОГРАМ ХӨГЖҮҮЛЭГЧ  3500000.0
13                        Тестэр /Коор майнд ХХК/  1650000.0
14         Мэдээлэл технологийн ажилтан /support/  1350000.0
15                               ПиАр мэргэжилтэн  1950000.0
16                               Шийдлийн инженер  2300000.0
17                         Суурилуулалтын инженер  1950000.0
18                           Хөгжүүлэгч /Backend/  3500000.0
19                 Программ хангамжийн архитектор  5500000.0
20                      Онлайн оператор (эмэгтэй)  1100000.0
21                   IT инженер (Өмнөговь салбар)  1650000.0
22                              ПРОГРАММ ТЕСТЛЭГЧ  1350000.0
23            Дотоод аудитор /Мэдээлэл технологи/  2750000.0
24  Төслийн менежер ажилд авна. /Солонгос хэлтэй/  1950000.0
25                             Back end developer  2300000.0
26                         Захиргааны мэргэжилтэн  1950000.0
27                       Ахлах програм хөгжүүлэгч  3500000.0
28                                   Дата аналист  2300000.0
29                   Утасны оператор сургаж авна.  1350000.0
30                  Худалдааны зөвлөх_Cургаж авна  1100000.0
31                                   Систем админ  2300000.0
32                             Програм хөгжүүлэгч  1650000.0
33                              Мобайл хөгжүүлэгч  1650000.0
34                     Програмын Ахлах хөгжүүлэгч  2300000.0
35                   Санхүүгийн Ахлах мэргэжилтэн  2300000.0
36                            МЭДЭЭЛЛИЙН ОПЕРАТОР  1100000.0
37              САЙТЫН АШИГЛАЛТ ХАРИУЦСАН ИНЖЕНЕР  1650000.0
38                              СҮЛЖЭЭНИЙ ИНЖЕНЕР  1650000.0
39                             ПРОГРАМ ХӨГЖҮҮЛЭГЧ  2750000.0
40                                   Дата инженер  3500000.0
41                             Мэдээллийн ажилтан  1350000.0

### Exercise 2: Scrape `zangia.mn` Page#1 - Page#10
* Make a dataframe using `Мэдээлэл технологи, Харилцаа холбоо` category `https://www.zangia.mn/job/list/pg.1/b.4`.
* Get job listings from page 1-10. *Hint* Loop over the list of pages
* Make a dataframe and make a histogram plot using `salary` column.

In [ ]:
# Your code

### Exercise 3: Scrape `zangia.mn` Page#1 - Page#7
* Make a dataframe using `Захиргаа, Хүний нөөц` category `https://www.zangia.mn/job/list/pg.1/b.36`.
* Get job listings from page 1-7.
* Make a dataframe and make a histogram plot using `salary` column.

**WARNING** MAKE SURE YOUR LINKS ARE CORRECT!

In [ ]:
# Your code